@charset "UTF-8";
.nav{
	background-color: #fab387;
	padding: 20px;
	/* list-style-type: none; */
	text-align: center;
	/*float: right;*/
	display: inline-block;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
/* li a:hover {
	background-color: #11111;
} */

#date{
	background-color: #cfebfd;
	border: 5px solid #fab387;
	padding: 5px;
	/*  border: 1px solid black; */
	
}
#left, #right{
	float: left;
	width: 20%;
}
 #middle{
 	position:relative;
	float: right;
	/*  width: 25%;*/
	/*  margin:auto;*/
}
@media screen and (max-width:620px){
	/* For mobile phones: */
	#left, #middle, #right{
		width:100%;
	}
}